.App {
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
}

html {
  -webkit-print-color-adjust: exact;
  filter: opacity(1);
  -webkit-filter: opacity(1);
}


@media print {
  body {
    transform: scale(0.65);
    margin: -6cm;
  }
  .print_hidden {
    visibility: hidden;
  }
}
