.App {
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
}

@media print {
  body {
    transform: scale(0.65);
    margin: -7cm;
  }
  .print_hidden {
    visibility: hidden;
  }
}
